/* Desctop stiles */

/*--- HEADER ----*/
.container {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;

}

@media screen and (min-width: 1200px) {
	.container.nav {
        max-height: 24px;
        align-items: center;
		width: 1200px;
		margin: 0 auto;
        
	}

    .header-list.address {
        display: flex;
        gap: 40px;
    }
    
    .header-link {
	    font-weight: 500;
	    line-height: 1.5;
	    padding: 25px 0;

    	color: var(--dark);
	    transition: color var(--timing-function);
}
    .header-item {
        display: flex;
    }

    .header-list > .address,
    .header-item > .address {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        color: var(--text);
    }

}

/*--- /HEADER ---*/

/*--- MAIN---*/
				/*---Hero---*/
                
@media screen and (min-width: 1200px) {
    .section-hero {
        padding: 188px 0;  
        max-width: 1440px;
        height: 600px;
        margin: 0 auto;
            
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_desc_opt.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--dark);
    }
     
} 

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.section-hero {
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_desc_opt@2x.jpg);
	
	}
} 
                /*---Section 1---*/           

@media screen and (min-width:1200px) {
    .advantage-section.section {
        width: 100%;
    }
    .section-list.advantage {
        display: flex;
        gap: 24px;
        justify-content: space-between;  
    }
    .section-item.advantage {
        width: calc((100% - 72px) / 4);
    }
   
    .advantage-icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-bottom: 8px;
     
        background-color: var(--light);
        border-radius: 4px;
    } 
    .section-item.caption {
		margin-bottom: 8px;
		text-align: left;
	
		font-weight: 500;
		font-size: 20px;
		line-height: 1.11;
		letter-spacing: 0.02em;	
	}
	.caption-text {
		text-align: left;
	
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
}

            /*---Section 2---*/
                    /*-----IN common css---*/

            /*--- TEAM Section---*/ 

@media screen and (min-width: 1200px) {
    
.section-list.team {
	display: flex;
	gap: 24px;
	margin-top: 72px;
}

.section-item.team {
	background-color: var(--white-text-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.section-item.caption {
	text-align: left;
	margin-bottom: 8px;
}
.social-list-team {
    display: flex;
    align-items: center;
    justify-content: space-between;


    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
}
.social-list-item {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color var(--timing-function);
}

.caption-item {
	margin-bottom: 8px;
    text-align: center;
	font-weight: 500;
	letter-spacing: 0.02em;
	font-size: 20px;
	line-height: 1.2;

	color: var(--dark);
}

.caption-text.team {
	margin-bottom: 8px;
    text-align: center;
	letter-spacing: 0.02em;
	line-height: 1.5;

	color: var(--text);
}
}

                 /*--- Customers Section---*/ 

@media screen and (min-width: 1200px) {
    .customer-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        margin-top: 72px;
    }

    .customer-section-item {
		width: calc((100% - 72px) / 6);
		
	}
    .customer-section-item:not(:nth-child(6n)) {
        margin-right: 24px;
    }
    .customer-section-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 88px;
    
        border: 1px solid currentColor;
        color: var(--subtle-text);
        border-radius: 4px;
        transition: color var(--timing-function);
    }
    .customer-section-link:hover,
    .customer-section-link:focus {
        color: var(--button-active);
    }
    
    .customer-section-icon {
        fill: currentColor;
        transition: fill var(--timing-function);
    }
    
}


/*--- /MAIN---*/

/* ------------------FOOTER------------------- */


@media screen and (min-width: 1200px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;

        background-color: var(--dark);
    }

    .container.footer-container {
        display: flex;
        max-width: 1158px;
    
        padding: 0 15px;
    }
  
    .moto {
        margin-right: 120px;
    }
    .footer-social-media {
    
        margin-right: 80px;
    }
    .footer-social-text {
        margin-bottom: 16px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    
        color: var(--white-text-color);
    }
    .social-media-list {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .social-media-item:hover,
    .social-media-link:focus {
        background-color: var(--success);
    }
    .social-media-link {
        display: flex;
        padding: 8px 8px;
    }
}


/* ------------------/FOOTER------------------- */
