/* Mobile stiles till 767px */

/*--- HEADER ---*/

@media screen and (max-width: 767px) {
	.header-list,
	.header-address {
		display: none;
	}	
	.container.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	
	.mobile-header-btn {
		
		padding: 0;
		line-height: 0;
	
		background-color: #fff;
		border: none;
	}
	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 100%;
		max-height: 796px;
	
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	
	.mobile-menu.is-open {
		display: flex;
		flex-direction: column;

		opacity: 1;
		visibility: visible;
		pointer-events: auto;	
	}
	.mob-menu-close-btn {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		
		width: 24px;
		height: 24px;	
		margin-top: 24px;
		margin-right: 24px;
		padding: 0;
	
		background-color: #E7E9FC;
		opacity: 1;
		border: 1px solid #2E2F42;
		border-radius: 50%;
	
	}
	
	.mob-menu-close-icon {
		align-items: center;
		fill: #2E2F42;
	}

	.mobile-header-list.list{
		display: flex;
		flex-direction: column;
		gap: 40px;
		
		margin-top: 80px;
		margin-left: 40px;
		margin-right: 240px;
		margin-bottom: 0;
		padding: 0;
		list-style: none;

	}

	.mobile-header-item {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;
	
		color: #2E2F42;
	}
	.mobile-header-link {
		text-decoration: none;
	}
	
	.mobile-header-list.address {
		display: flex;
		flex-direction: column;
		gap: 40px;

		margin-top: auto;
		margin-left: 40px;
		margin-right: 35px;
		margin-bottom: 0;

		padding: 0;
		list-style: none;
	}
	.mobile-header-item.phone {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;

		color: #4D5AE5;
	}
		
	.mobile-header-item.mail {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;

		color: #434455;

	}

	.social-list {
		display: flex;
		justify-content: center;
		gap: 40px;

		margin-top: 48px;
		margin-left: 40px;
		margin-bottom: 40px;
		margin-right: 60px;

		list-style: none;
		padding: 0;
	}
	
	.social-list-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
	
		border-radius: 50%;
		background-color: var(--primary-brand);
		transition: background-color var(--timing-function);
	}
		
}

/*--- /HEADER ---*/

/*--- MAIN---*/
		
			/*---Hero---*/

@media screen and (max-width: 767px) {
	.section-hero {
		max-width: 428px;
		height: 432px;
		padding: 112px 0;
		margin: 0 auto;
		text-align: center;

		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_mob-opt.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: var(--dark);
	}

}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
	.section-hero {
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_mob_opt@2x.jpg);
	
	}
}
			
			/*---Section 1---*/ 

@media screen and (max-width: 767px) {
	.advantage-icon-link {
		display: none;	
	}
	
	.section-list.advantage {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 72px;
		
		background-color: #fff;	
	}	
	.section-item.caption {
		margin-bottom: 8px;
		text-align: center;
	
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;	
	}
	.caption-text {
		max-width: 396px;
		text-align: left;
	
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
}


			/*--- TEAM Section---*/ 

@media screen and (max-width: 767px) {
	.team-section.section {
		padding: 96px 0;
	}
	
	.section-list.team {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 72px;

		margin-top: 72px;

		
	}
	.section-item.team {
		background: #FFFFFF;
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
		border-radius: 0px 0px 4px 4px;
	}

	
	.caption-item {
		margin-bottom: 8px;
		min-width: 134px;
		
		text-align: center;
		font-weight: 500;
		letter-spacing: 0.02em;
		font-size: 20px;
		line-height: 1.2;
	
		color: var(--dark);
	}
	.social-list-team {
		display: flex;
		justify-content: center;
		gap: 24px;

		margin-top: 8px;
		margin-left: 16px;
		margin-right: 16px;

		list-style: none;
		padding: 0;
	}
	.social-list-item {
		width: 40px;
		height: 40px;
	
		border-radius: 50%;
		background-color: #4d5ae5;
		transition: background-color var(--timing-function);
	}
}

			 /*--- Customers Section---*/ 

@media screen and (max-width: 767px) {
	.customer-section.section {
		padding: 96px 0;
	}
	.customer-container {
		min-width: 320px;
	}
	.customer-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		
		margin-top: 72px;
		
	}
	
	.customer-section-item {
		width: calc((100% - 16px) / 2);
		
	}
	.customer-section-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 72px;
    }
	   
}

/*--- /MAIN---*/

/*---FOOTER---*/

@media screen and (max-width: 767px) {
	
	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.moto {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		margin-bottom: 72px;
		
	}
	.footer-social-media {
		margin-bottom: 72px;
	}
	.footer-social-text {
		margin-bottom: 16px;
	
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;

		color: var(--white-text-color);
	}
	
	.social-media-list {
		display: flex;
		justify-content: center;
		gap: 24px;
	}
	
}


/*--- /FOOTER---*/

/*--- MODAL---*/


/*---/ MODAL---*/