
@import url("./mobile.css");
@import url("./tablet.css");
@import url("./desctop.css");

:root {
	--primary-brand: #4d5ae5;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--button-active: #404bbf;
	--white-text-color: #ffffff;
	--modal-bg: #fcfcfc;
	--timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 400px;
	font-size: 16px;
	letter-spacing: 0.02em;
	color: var(--dark);
	background-color: var(--white-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	display: block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

address {
	font-style: normal;
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
@media screen and (min-width: 428px) {
	.container {

		width: 428px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
}
@media screen and (min-width: 1158px) {
	.container {
		width: 1158px;
	}
}
.section {
	padding: 120px 0;	
}
@media screen and (max-width: 1157px) {
	.section {
		padding: 96px 0;
		
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* ------------------HADER------------------- */
				/*-----Mobile/Tablet/Desc-----*/

.header {
	padding-top: 24px;
	padding-bottom: 24px;

	border-bottom: 1px solid var(--accent);
}
.header-logo {	
    margin-right: 76px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-brand);
}

/*--------MAIN--------*/

			/*---Hero---*/

.hero-title {
	margin-bottom: 72px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;

	color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
	.hero-title {
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
    
        font-size: 56px;
        line-height: 1.07;
    }
}
.hero-btn {
	padding: 16px 32px;
	margin-left: auto;
	margin-right: auto;

	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--white-text-color);
	background-color: var(--primary-brand);
	cursor: pointer;
	border: none;
	border-radius: 4px;

	transition: background-color var(--timing-function);
}

.section-list.activity {
	display: flex;
	gap: 24px;
	margin-top: 72px;
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
}	

@media screen and (min-width: 1158px) {
	.activity-section {
		padding-top: 0;
	}
	
}
.team-section.section {
	max-width: 100%;
	background-color: var(--light);
}
.caption-team {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 32px;
	padding-bottom: 32px;
}
.social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;

	border-radius: 50%;
	background-color: var(--primary-brand);
	transition: background-color var(--timing-function);
}
.social-list-link:hover,
.social-list-link:focus {
	background-color: var(--button-active);
}

.customer-section-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 88px;
	
	border: 1px solid currentColor;
	color: var(--subtle-text);
	border-radius: 4px;
	transition: color var(--timing-function);
}

.customer-section-link:hover,
.customer-section-link:focus {
	color: var(--button-active);
}

.customer-section-icon {
	fill: currentColor;
	transition: fill var(--timing-function);
}


/*---FOOTER---*/

@media screen and (max-width: 1157px) {
	.footer {
		padding-top: 96px;
		padding-bottom: 96px;
	
		background-color: var(--dark);
}

}

@media  screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
       
		max-width: 565px;
       
        
       
        
    }
}

.footer-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #4d5ae5;
}
.footer-text {
	margin-top: 16px;
	width: 264px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;

	color: var(--accent);
}

.social-media-item {
	width: 40px;
	height: 40px;

	border-radius: 50%;
	background-color: #4d5ae5;
	transition: background-color var(--timing-function);
}
.social-media-link {
	display: flex;
	padding: 8px 8px;	
}

.contact-form {
	width: 100%;
}

.footer-form-subtitle {
	text-align: center;
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
	.footer-form-subtitle {
		text-align: left;
	}
}
.form-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	
}
@media screen and (min-width: 768px) {
	.form-footer {
		display: flex;
		flex-direction: row;
		justify-content: start;
		gap: 24px;
	}
}
@media screen and (min-width: 1158px) {
	.form-footer {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.footer-subsc-input {
		width: 100%;
}
.footer-social-text {
    text-align: center;
}
}
.footer-subsc-input {
	height: 40px;
	outline: none;
	padding: 8px 16px;

	font-weight: 400;
	font-size: 12px;
	line-height: 2px;
	letter-spacing: 0.04em;

	background-color: var(--dark);
	border: 1px solid #ffffff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: #ffffff;
}

@media screen and (min-width: 768px) {
.footer-subsc-input {
	width: 264px;	
}
}

.footer-subsc-input:hover,
.footer-subsc-input:focus {
	background-color: var(--success);
	border-color: tomato;
	transition: background-color var(--timing-function);
}

.footer-subsc-input::placeholder {
	color: #ffffff;
}
.contact-form-btn {
	display: flex;
	position: relative;
	

	min-width: 165px;
	height: 40px;
	padding: 0;

	border: 1px solid #4D5AE5;;
	background-color: #4D5AE5;;
	border-radius: 4px;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
	background-color: var(--button-active);
	border-color: var(--success);
	transition: background-color var(--timing-function);
	outline: none;
}

.footer-form-btn-text {
	padding-top: 8px;
	padding-left: 24px;
	padding-bottom: 8px;
	padding-right: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: #ffffff;
}

.subscribe-icon {
	position: absolute;
	top: 8px;
	left: 117px;
}


/* ------------------/FOOTER------------------- */


/* ------------------MODAL------------------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	width: 100%;
	height: 100%;

	background-color: rgba(46, 47, 66, 0.5);
	transition: opacity var(--timing-function), visibility var(--timing-function);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 408px;
	height: 576px;
	padding: 72px 24px 24px;
	transform: translate(-50%, -50%);

	background-color: var(--modal-bg);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

}
@media screen and (max-width: 767px) {
	.modal {
		width: 95%;
		max-width: 392px;
		height: 95%;
		max-height: 586px;
		overflow: scroll;

		padding: 72px 16px 16px;
		transform: translate(-50%, -50%);

	}
	
}
.modal-close-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	height: 24px;
	padding: 0;

	background-color: var(--accent);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	transition: background-color var(--timing-function), border-color var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
	background-color: var(--button-active);
	border-color: var(--success);
}

.modal-close-btn-icon {
	transition: fill var(--timing-function);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
	fill: var(--white-text-color);
}

.modal-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;

	margin-bottom: 16px;

	color: var(--dark);
}

.form {
	display: flex;
	flex-direction: column;
}

.form-field {
	margin-bottom: 8px;
}
.form-input-icon-field {
	position: relative;
	display: block;
}
.form-label {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;

	color: var(--subtle-text);
}
.form-input {
	width: 100%;
	height: 40px;
	padding-left: 38px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	border: 1px solid var(--subtle-text);
	border-radius: 4px;
	transition: border-color var(--timing-function);
}
.form-input:focus {
	outline: none;
	border-color: var(--primary-brand);
}
.form-input-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	left: 16px;

	transition: fill var(--timing-function);
}
.form-input:focus + .form-input-icon {
	fill: var(--primary-brand);
}
.form-label-field {
	margin-bottom: 12px;
}
.textarea-desc {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: #8e8f99;
}

.modal-form-msg {
	width: 100%;
	height: 120px;
	padding: 8px 16px;

	resize: none;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;

	border: 1px solid var(--dark);
	border-radius: 4px;
}

.modal-form-msg::placeholder {
	color: rgba(46, 47, 66, 0.4);
}

.modal-form-msg:focus {
	outline: none;
	border-color: var(--primary-brand);
}

.form-field-checkbox {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;

	margin-bottom: 16px;
	color: #8e8f99;
}

.form-label-policy {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.form-label-policy::before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	cursor: pointer;
	border: 1px solid #2e2f42;
	border-radius: 2px;
	background: #ffffff;
}

.checkbox-link {
	text-decoration: underline;
}
.policy-checkbox:checked + .form-label-policy::before {
	background-image: url(../images/wite_checkbox.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: var(--button-active);
	background-position: center;
	border: 1px solid var(--button-active);

	transition: background-image var(--timing-function);
}

.modal-form-btn {
	margin: 0 auto;
	padding: 16px 32px;

	width: 169px;
	height: 56px;

	background: var(--primary-brand);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: #ffffff;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
	background-color: var(--button-active);
	transition: background-color var(--timing-function);
} 

/*------------------/MODAL-------------------*/

/*------------------SECOND page_Portfolio-------------------*/

.filter {
	padding: 12px 24px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;

	color: var(--primary-brand);
	background: var(--light);
	border: 1px solid var(--accent);
	border-radius: 4px;
	transition: background-color var(--timing-function), color var(--timing-function), box-shadow var(--timing-function);
}

.filter:hover,
.filter:focus {
	color: var(--white-text-color);
	background-color: var(--button-active);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.caption-item.portfolio {
	text-align: left;
	
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: var(--dark);
}

.caption-text.portfolio {
	text-align: left;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	
	color: var(--text);
}

.section-portfolio-link:hover,
.section-portfolio-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
	
.section-portfolio-link:hover .portfolio-item-text-overlay,
.section-portfolio-link:focus .portfolio-item-text-overlay {
	transform: translateY(0);
}
	
