/* Tablet stiles till 1199px */

/*--- HEADER ---*/

@media screen and (max-width: 1199px) {
    .header-list.address {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
.container {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
;
    } 

    .mobile-header-btn {
         display: none;
    }
    .mobile-menu{
        display: none;
        
    }
    .navigation {
	    display: flex;
	    align-items: center;
    }

    .header-list.list {
	    display: flex;
    	gap: 40px;
    }

    .nav {
	    display: flex;
    }

    .header-link {
	    font-weight: 500;
	    line-height: 1.5;
	    padding: 27px 0;

    	color: var(--dark);
	    transition: color var(--timing-function);
    }

    .header-link:hover,
    .header-link:focus {
	    color: var(--button-active);
    }

    .current {
	    position: relative;

    	color: var(--primary-brand);
    }

    .header-link.current::after {
	    content: "";

    	position: absolute;
	    bottom: 0;
	    left: 0;

    	width: 100%;
	    height: 4px;

    	background-color: var(--button-active);
	    border-radius: 2px;
    }
    
    .header-address {
	    margin-left: auto;
    
    }

    .header-list > .address,
    .header-item > .address {
	    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
	    letter-spacing: 0.04em;

    	color: var(--text);

    }

    .header-link.address:hover,
    .header-link.address:focus {
	    color: var(--button-active);
    } 
}

.header-logo {	
    margin-right: 76px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-brand);
}

/*--- /HEADER ---*/

/*--- MAIN---*/
				/*---Hero---*/

@media screen and (min-width: 768px) {
    .section-hero {
        padding: 188px 0;
        max-width: 1440px;
        height: 600px;
        margin: 0 auto;
    
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--dark);
    }
    
    .hero-title {
        width: 496px;
        margin-left: auto;
        margin-right: auto;
    
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
    
        color: var(--white-text-color);
    }
    
    .hero-btn {
        padding: 16px 32px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
    
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    
        color: var(--white-text-color);
        background-color: var(--primary-brand);
        cursor: pointer;
        border: none;
        border-radius: 4px;
    
        transition: background-color var(--timing-function);
    }
    
    .hero-btn:hover,
    .hero-btn:focus {
        background-color: var(--button-active);
    }
}
            /*---Section 1---*/

@media screen and (min-width: 768px) {  
    .container-advantage {
        width: 100%;
    }  
    .section-list.advantage {
        display: flex; 
        flex-wrap: wrap;  
        justify-content: space-between;    
    }

   .section-item.advantage {
         width: calc((100% - 24px) / 2);
     }

    .advantage-icon-link {
        display: none;             
    } 
}           

			/*--- Section 2---*/ 

@media  screen and (max-width: 1199px) {
    .activity-section {
        display: none;
    }
}

            /*--- TEAM Section---*/ 




/*--- /MAIN---*/


/*--- MODAL---*/
@media screen and (min-width: 768px) {
	.modal {
		width: 408px;
		height: 586px;
		padding: 72px 24px 24px;
		transform: translate(-50%, -50%);

	}
	
}


/*---/ MODAL---*/